<a href="https://colab.research.google.com/github/hanwant-17/internship/blob/main/internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hellow world",end = "-")
print("hellow Hanwant singh")

hellow world-hellow Hanwant singh

In [ ]:
x="10"
print(type(x))
year=2023
company="Turing"
print(f"Hello {company} year {year}") # we can use f with variables also

<class 'str'>
Hello Turing year 2023

In [ ]:
a=100
b=200
c=300
if a>b and a>c:
    print("a is greater")
elif b>a and b>c:
    print("b is greater")
elif c>a and c>b:
    print("c is greater")

c is greater

In [ ]:
age=int(input("Enter your age: "))
if age >=18 and age<25:
    print("Adult")
elif age >= 25 and age < 35:
    print("married")
elif age >= 35:
    print("cityzen")
else:
    print("child")

Enter your age: 45
cityzen

In [ ]:
a=int(input("Enter a number: "))
if a%2==0:
    print("Even")
else:
    print("Odd")

Enter a number: 43
Odd

In [ ]:
year=int(input("Enter year: "))
if year%4==0 and year%100!=0 or year%400==0:
    print("Leap year")
else:
    print("Not a leap year")

Enter year: 2004
Leap year

In [ ]:
grade=int(input("Enter your grade: "))
if grade>=90:
    print("A")
elif grade>=80:
    print("B")
elif grade>=70:
    print("C")
elif grade>=60:
    print("D")
else:
    print("F")

Enter your grade: 99
A

In [ ]:
a=int(input("Enter a number: "))
b=int(input("Enter a number: "))
operator=input("Enter an operator: ")
if operator=='+':
    print(a+b)
elif operator=='-':
    print(a-b)
elif operator=='*':
    print(a*b)
elif operator=='/':
    if b!=0:
        print(a/b)
    else:
        print("Cannot divide by zero")

Enter a number: 2
Enter a number: 6
Enter an operator: +
8

In [ ]:
a=int(input("Enter a number: "))
if a>=1:
    print("Positive")
elif a<0:
    print("Negative")
else:
    print("Zero")

Enter a number: 67
Positive

In [ ]:
username=input("Enter username: ")
password=input("Enter password: ")
if username=="admin" and password=="1234":
    print("Login successful")
else:
    print("Login failed")

Enter username: hanwant
Enter password: 123423
Login failed

In [ ]:
a=int(input("Enter the first side of triangle: "))
b=int(input("Enter the second side of triangle: "))
c=int(input("Enter the third side of triangle: "))
if a+b>c and a+c>b and b+c>a:
    print("Triangle is valid")
else:
    print("Triangle is not valid")

Enter the first side of triangle: 4
Enter the second side of triangle: 5
Enter the third side of triangle: 7
Triangle is valid

In [ ]:
w=int(input("Enter the weight(in kg):"))
h=int(input("Enter the height(in m):"))
bmi=w/(h*h)
if bmi<18.5:
    print("Underweight")
elif bmi>=18.5 and bmi<24.9:
    print("Normal weight")
elif bmi>=25 and bmi<29.9:
    print("Overweight")
else:
    print("Obesity")

Enter the weight(in kg):44
Enter the height(in m):556
Underweight

In [ ]:
p=int(input("Enter the peice of the product: "))
q=int(input("Enter the quantity of the product: "))
d=int(input("Enter the discount: "))
if d>0:
    total=p*q
    discount=total*d/100
    total=total-discount
    print("Total amount after discount is: ",total)
else:
    print("Discount is not applicable")

Enter the peice of the product: 500
Enter the quantity of the product: 6
Enter the discount: 50
Total amount after discount is:  1500.0

In [ ]:
#Swapping two numbers without using a third variable
a=10
b=30
a=a^b
b=b^a
a=a^b
print("a=",a)
print("b=",b)

a= 30
b= 10

In [ ]:
a=10
for i in range(1,a+1):
  if a%i==0:
    print(i,"is the factor of",a)

1 is the factor of 10
2 is the factor of 10
5 is the factor of 10
10 is the factor of 10

In [ ]:
a=45
count=0
for i in range(1,a+1):
  if a%i==0:
    count=count+1
print(count)
if count>2:
  print(a," is not a prime number")
else:
  print(a," is a prime number")

6
45  is not a prime number

In [ ]:
for i in range(1,9):
  if i==4:
    continue
    print("hai")   #this line will not get printed
  print(i)
print("---End of line")

1
2
3
5
6
7
8
---End of line

In [ ]:
i=1
while i<10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9

In [ ]:
# LCM of 4&6
a=4
b=6
if a>b:
  greater=a
else:
  greater=b
while(True):
  if greater%a==0 and greater%b==0:
    print(f"LCM of {a} and {b} is {greater}")
    break
  else:
    greater+=1

LCM of 4 and 6 is 12

In [ ]:
string = input("Enter the String: ")
s = 0
l = len(string) - 1
is_palindrome = True

while s < l:  # Ensure indices stay within bounds
    if string[s] != string[l]:
        print("String is not a Palindrome")
        is_palindrome = False
        break
    s += 1
    l -= 1

if is_palindrome:
    print("String is a Palindrome")

Enter the String: daad
String is a palindrome

In [ ]:
list=[10,4,3,9,12,56,76,86,87,1,8]
max=list[0]
for i in list:
  if i>max:
    max=i
print("Maximum no. in the list is ",max)

Maximum no. in the list is  87

In [ ]:
myList=[12,32,45,36,23,4,5,6,2,7]
for i in range(0,len(myList)):
  for j in range(i+1,len(myList)):
    if myList[i]+myList[j]==9:
      print(f"----> {myList[i]} + {myList[j]} = {myList[i]+myList[j]}")

----> 4 + 5 = 9
----> 2 + 7 = 9

In [ ]:
# Pattern 1:
for i in range(1,4):
  for j in range(1,4):
    print(f"{i} ",end=" ")
  print("\n")


print("\n\n")
# Pattern 2:
a=4
for i in range(1,4):
  for j in range(1,4):
    print(f"{a} ",end=" ")
  a+=2
  print("\n")


print("\n\n")
# Pattern 3:
for i in range(1,4):
  for j in range(1,5):
    print(f"{j} ",end=" ")
  print("\n")


print("\n\n")
# Pattern 4:
a=4
for i in range(1,4):
  for j in range(1,5):
    print(f"{a} ",end=" ")
    a+=1
  a=4
  print("\n")


print("\n\n")
# Pattern 5:
a=1
for i in range(1,4):
  for j in range(1,5):
    print(f"{a} ",end=" ")
    a+=1
  print("\n")


print("\n\n")
# Pattern 6:
a='A'
for i in range(1,4):
  for j in range(1,4):
    print(f"{a} ",end=" ")
    a=chr(ord(a)+1)
  a='A'
  print("\n")

1  1  1

2  2  2

3  3  3




4  4  4

6  6  6

8  8  8




1  2  3  4

1  2  3  4

1  2  3  4




4  5  6  7

4  5  6  7

4  5  6  7




1  2  3  4

5  6  7  8

9  10  11  12




A  B  C

A  B  C

A  B  C

In [ ]:
# Pattern 1:
for i in range(1,5):
  for j in range(1,i+1):
    print("* ",end=" ")
  print("\n")


print("\n\n")
# PAttern 2:
for i in range(1,5):
  for j in range(1,i+1):
    print(j,end=" ")
  print("\n")


print("\n\n")

# Pattern 3:
for i in range(1,5):
  a=4
  for j in range(1,i+1):
    print(a,end=" ")
    a+=1
  print("\n")


print("\n\n")
# Pattern 4:
a=1
for i in range(1,5):
  for j in range(1,i+1):
    print(a,end=" ")
    a+=1
  print("\n")


print("\n\n")
# Pattern 5:
a='A'
for i in range(1,5):
  for j in range(1,i+1):
    print(a,end=" ")
    a=chr(ord(a)+1)
  print("\n")


print("\n\n")
# Pattern 6:
for i in range(1,5):
  a=i
  for j in range(1,i+1):
    print(a,end=" ")
    a+=1
  print("\n")

*

*  *

*  *  *

*  *  *  *




1

1 2

1 2 3

1 2 3 4




4

4 5

4 5 6

4 5 6 7




1

2 3

4 5 6

7 8 9 10




A

B C

D E F

G H I J




1

2 3

3 4 5

4 5 6 7

In [ ]:
# Pattern 1:
for i in range(1,5):
  for j in range(1,5-i):
    print("- ",end=" ")
  for j in range(1,i+1):
    print("* ",end=" ")
  print("")


print("\n")
# Pattern 2:
for i in range(0,5):
  for j in range(1,i+1):
    print("- ",end=" ")
  for j in range(0,5-i):
    print("* ",end=" ")
  print("")


print("\n")
# Pattern 3:
for i in range(1,5):
  for j in range(1,i+1):
    if (i-j)%2==0:
      print("1",end=" ")
    else:
      print("0",end=" ")
  print("\n")

-  -  -  *
-  -  *  *
-  *  *  *
*  *  *  *


*  *  *  *  *
-  *  *  *  *
-  -  *  *  *
-  -  -  *  *
-  -  -  -  *


1

0 1

1 0 1

0 1 0 1

In [ ]:
for i in range(0,5):
  for j in range(0,i+1):
    print("* ",end=" ")
  print("\n")
for i in range(5,0,-1):
  for j in range(0,i-1):
    print("* ",end=" ")
  print("\n")

*

*  *

*  *  *

*  *  *  *

*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [ ]:
data="user"
mydict={}
for i in range(0,len(data)):
  mydict[data[i]]=i
print(mydict)

{'u': 0, 's': 1, 'e': 2, 'r': 3}

In [ ]:
data="hey ishaeeeaaa"
mydict={}
# vowel=['a','e','i','o','u']
for i in data:
  if i in "aeiou":
    if i not in mydict:
      mydict[i]=1
    else:
      mydict[i]=mydict[i]+1
print(mydict)

{'e': 4, 'i': 1, 'a': 4}

In [ ]:
#list comprihension
[i+5 for i in [10,20,30,40]]

#dictonary comprehension
{char:1 for char in "hey"}

{'h': 1, 'e': 1, 'y': 1}

In [ ]:
name="Hanwant"
def detail():
  name="Kartik"
  print("Local Name = ",name)

detail()
print("Global name= ",name)

Local Name =  Kartik
Global name=  Hanwant

In [ ]:
num=10
def sum(num):
  i=0
  j=0
  if i<=num:
    j+=i
    i+=1
    sum(num)
print(sum(num))

In [ ]:
def pattern(num):
    for i in range(0,num+1):
        x=1
        for j in range(1,i+1):
            print("-",end=" ")
        for j in range(0,num+1-i):
            print(x,end=" ")
            x+=1
        print("")
num=4
pattern(num)

In [ ]:
def lcm(a,b):
  if a>b:
    greater=a
  else:
    greater=b
  while(True):
    if greater%a==0 and greater%b==0:
      print(f"LCM of {a} and {b} is {greater}")
      break
    else:
      greater+=1
a=4
b=5
lcm(a,b)

In [ ]:
y=lambda num : num+5
y(10)

15

In [ ]:
# map() => element => return
#[10.20,30,40]
#loads each element one by one
#cant apply map on integers

list(map(len,["hey","hello"]))

[3, 5]

In [ ]:
list(map(lambda x: x%2==0,[10,5,4,3]))
#[True, False, True, False]
list(filter(lambda x: x%2==0,[10,5,4,3]))
#(10, 4)

[True, False, True, False]